<!-- users/index.html.erb -->
<ul>
  <% @users.each do |u| %>
    <li>
      <%= u.email %>
      <%=
        link_to "Delete", 
        user_path(u), 
        method: :delete, 
        data: { confirm: "Really delete this user?" } 
      %>
    </li>
  <% end %>
</ul>
