
<ul class="list-group mx-2 mb-5">
  <% @posts.each do |post| %>
    <li class="border list-group-item mb-3 shadow-sm">
        <%= link_to post.title, post %><br>
        <%= post.content %><br>
        <% if user_signed_in? %>
          <small><%= post.user.username %></small>
        <% end %>
    </li>
  <% end %>
</ul>