

<div class="card mb-5 mx-2">

  <div class="card-header  bg-light">
    <p class="fw-bold fs-4 mb-0">Profile</p>
  </div>

  <div class="card-body">

      <div class="media d-flex mb-0">
        <div class="pe-3 mb-0">
          <img src="icon.jpg" alt="32x32" class="rounded-circle">
        </div>
        <div class="media-body">
        	<p class="mb-2">
				  	<strong><%= current_user.name %></strong><br />
			  		<small><%= current_user.username %></small>
          </p>
        </div>
      </div>

  </div>

  <div class="card-footer bg-white">
    <div class="d-flex">
      <div class="me-3">
					<p class="mb-0 fs-6"><small>POSTS</small></p>
					<p class="mb-0"><small><strong><%= current_user.posts.count %></strong></small></p>
      </div>
      <div class="me-3">
					<p class="mb-0 fs-6"><small>FOLLOWING</small></p>
					<p class="mb-0"><small><strong>123</strong></small></p>
      </div>
      <div class="me-3">
					<p class="mb-0 fs-6"><small>FOLLOWERS</small></p>
					<p class="mb-0"><small><strong>465K</strong></small></p>
      </div>
    </div>
  </div>

</div>


