<div class="card">
  <div class="card-header">
    Trends
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Trend 1</li>
    <li class="list-group-item">Trend 2</li>
    <li class="list-group-item">Trend 3</li>
  </ul>
</div>