
<div class="card mx-2">

  <div class="card-header">
    Who to follow
  </div>

  <div class="card-body">
  
    <ul class="list-unstyled">
      <li class="media d-flex mb-4">
      <div class="pe-3">
        <img src="32x32.png" alt="32x32" style="width: 32px; height: 32px">
      </div>
      <div class="media-body">
        <p class="my-0">John Smith @jsmith</p>
      </div>
      </li>

      <li class="media d-flex mb-4">
      <div class="pe-3">
        <img src="32x32.png" alt="32x32" style="width: 32px; height: 32px">
      </div>
      <div class="media-body">
        <p class="my-0">John Smith @jsmith</p>
      </div>
      </li>

      <li class="media d-flex mb-4">
      <div class="pe-3">
        <img src="32x32.png" alt="32x32" style="width: 32px; height: 32px">
      </div>
      <div class="media-body">
        <p class="my-0">John Smith @jsmith</p>
      </div>
      </li>

    </ul>
    
  </div>

</div>

