
<div class="card">

  <div class="card-header">
    Who to follow
  </div>

  <div class="card-body">
  
    <ul class="list-unstyled">
      <li class="media d-flex mb-3">
      <div class="pe-3">
        <img src="32x32.png" alt="32x32" style="width: 32px; height: 32px">
      </div>
      <div class="media-body">
        <p class="my-0">John Smith</p>
        <p class="my-0"><small>j.smith@gmail.com</small></p>
      </div>
      </li>

      <li class="media d-flex mb-3">
      <div class="pe-3">
        <img src="32x32.png" alt="32x32" style="width: 32px; height: 32px">
      </div>
      <div class="media-body">
        <p class="my-0">John Smith</p>
        <p class="my-0"><small>j.smith@gmail.com</small></p>
      </div>

      </li>
      <li class="media d-flex mb-3">
      <div class="pe-3">
        <img src="32x32.png" alt="32x32" style="width: 32px; height: 32px">
      </div>
      <div class="media-body">
        <p class="my-0">John Smith</p>
        <p class="my-0"><small>j.smith@gmail.com</small></p>
      </div>
      </li>

    </ul>



    
  </div>

</div>

